//import Maven pro font-family
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


/*--- Sass Variables --*/


//Colours
$col_dark:#232323;
$col_darkblue:#161630;
$col_red:#d92728; 
$col_white:#ffffff;
$col_lightwhite:#eee;
$col_gray:#828286;


//Font sizes
$fontSize__h1:30px;
$fontSize__h2:30px;
$fontSize__h3:24px;
$fontSize__h4:18px;
$fontSize__h5:16px;
$fontSize__h6:15px;
$fontSize_p:14px;


//Font family 
$fontFamily_titel:Impact, sans-serif;
$fontFamily_text:'Maven Pro', sans-serif;
